/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
    
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Press Start 2P', monospace; */
}
body{
    margin:10px 10px;
    border:2px solid black;
    background-color: rgb(94, 94, 247);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
h2 {
    text-align: center;
    background-color: green;
    color:black;
    font-style:italic;
    margin:10px 10px;
    padding:10px;
}

#instructions{
    font-size: 1rem;
    padding:20px 20px 0 20px;
    margin:10px;
    text-wrap:balance;
    background-color:   green;
    text-align: center;
    color:whitesmoke;
}

main{
    border:ridge darkgray 5px;
    margin:10px;
    background-color: rgb(84, 187, 218);
}
#guessButtons{
    margin-top:5px;
    display:flex;
    justify-content: center;
}
#markLocation{
    background-color: yellow;
    padding:3px;
    margin:5px;
    border-radius: 3px;
}
#markLocation:hover{
    box-shadow: 2px 2px black;
}
#markLocation:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
#unmarkLocation{
    padding:3px;
    margin:5px;
    border-radius: 3px;
}
#unmarkLocation:hover{
    box-shadow: 2px 2px black;
}
#unmarkLocation:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
#restartArea{
    font-size: 1rem;
    padding:10px;
    margin:10px;
    text-wrap:balance;
    text-align: center;
    color:black;
    display:none;
}
#restartArea p{
    margin-bottom:7px;
}
.restartBtn{
    padding:2px;
}
.restartBtn:hover{
    background-color: black;
    color:white;
}
.restartBtn:active{
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
#gameOver{
    font-size:5rem;
}
#the-dojo {
    width: 300px;
    margin: 0 auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
    
.tatami {
    background-color: rgb(82, 181, 82);
    height: 30px;
    width: 30px;
    border: 2px solid rgb(69, 168, 69);
    border-right: 2px solid rgb(41, 130, 41);
    border-bottom: 2px solid rgb(21, 96, 21);
}
.tatami:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
